{% extends "base.html" -%}
{% block slides -%}

<section class="slide">
    <h1>{{ title }}</h1>
</section>

<section class="slide">
    <h2>Quem sou?</h2>
    <ul>
        <li>Rafael Goncalves Martins</li>
        <li>Engenheiro de Controle e Automação</li>
        <li>Desenvolvedor do Gentoo Linux</li>
        <li>Pythonista no Titans Group</li>
        <li>Usuário do Flask desde quando o framework era apenas uma piada de 1º de abril</li>
    </ul>
</section>

<section class="slide">
    <h2>Esta palestra não é</h2>
    <ul>
        <li>Introdução ao Flask</li>
        <li>Sobre escalabilidade</li>
        <li>Sobre melhoria de performance</li>
    </ul>
</section>

<section class="slide">
    <h2>Sobre o Flask</h2>
    <ul>
        <li>Micro-framework baseado no Jinja e no Werkzeug</li>
        <li>Camada de abstração das 2 bibliotecas</li>
        <li>Qualquer aplicação desenvolvida com o Flask pode ser desenvolvida com Jinja e Werkzeug puros</li>
        <li><strong>Jinja + Werkzeug == Flask</strong>, mas <strong>Flask != Jinja + Werkzeug</strong></li>
    </li>
</section>

<section class="slide">
    <h2>DENIED</h2>
    <img src="{{ url_for('static', filename='images/denied.png') }}">
</section>

<section class="slide">
    <h2>DENIED</h2>
    <ul>
        <li>Site: <a href="http://denied.immersedcode.org/">http://denied.immersedcode.org/</a></li>
        <li>
            <em>Post Mortem</em> da piada de 1º de abril:
            <br>
            <a href="http://lucumr.pocoo.org/2010/4/3/april-1st-post-mortem/">
                http://lucumr.pocoo.org/2010/4/3/april-1st-post-mortem/
            </a>
        </li>
        <li>
            Post sobre a criação de frameworks customizados usando Jinja e Werkzeug:
            <br>
            <a href="http://lucumr.pocoo.org/2010/6/14/opening-the-flask/">
                http://lucumr.pocoo.org/2010/6/14/opening-the-flask/
            </a>
        </li>
    </ul>
</section>

<section class="slide">
    <h2>Tópicos principais</h2>
    <ul>
        <li>Organização e criação de views</li>
        <li>Uso de <em>blueprints</em> e <em>factories</em></li>
        <li>Manipulação de exceções</li>
    </ul>
</section>

<section class="slide">
    <h1>Organização e criação de views</h1>
</section>

<section class="slide">
    <h2>Hello world!</h2>
    {{ highlight_example('ex1') }}
</section>

<section class="slide">
    <h2>Hello world!</h2>
    {{ run_example('ex1') }}
</section>

<section class="slide">
    <h1><em>Parece bom, não?! Mas ...</em></h1>
</section>

<section class="slide">
    <h2>Aceitando múltiplos métodos HTTP</h2>
    {{ highlight_example('ex2') }}
</section>

<section class="slide">
    <h2>Aceitando múltiplos métodos HTTP</h2>
    {{ run_example('ex2') }}
</section>

<section class="slide">
    <h1><em>Hmm... Talvez possa ficar melhor...</em></h1>
</section>

<section class="slide">
    <h2><em>Class-based</em> views</h2>
    {{ highlight_example('ex3') }}
</section>

<section class="slide">
    <h2><em>Class-based</em> views</h2>
    {{ run_example('ex3') }}
</section>

<section class="slide">
    <h1><em>E que tal reaproveitar o código?!</em></h1>
</section>

<section class="slide">
    <h2><em>Class-based</em> views com mixin</h2>
    {{ highlight_example('ex4') }}
</section>

<section class="slide">
    <h2><em>Class-based</em> views com mixin</h2>
    {{ run_example('ex4') }}
</section>

<section class="slide">
    <h1>Uso de <em>blueprints</em> e <em>factories</em></h1>
</section>

<section class="slide">
    <h2>Blueprint básico</h2>
    {{ highlight_example('ex5') }}
</section>

<section class="slide">
    <h2>Blueprint básico</h2>
    {{ run_example('ex5') }}
</section>

<section class="slide">
    <h2>Blueprint inicializado com <em>app factory</em></h2>
    {{ highlight_example('ex6') }}
</section>

<section class="slide">
    <h2>Blueprint inicializado com <em>app factory</em></h2>
    {{ run_example('ex6') }}
</section>

<section class="slide">
    <h2>Isolando testes com <em>app factories</em></h2>
    {{ highlight_example('ex7') }}
</section>

<section class="slide">
    <h2>Isolando testes com <em>app factories</em></h2>
    {{ highlight_example('ex7', 'MyTestCase') }}
</section>

<section class="slide">
    <h1>Manipulação de exceções</h1>    
</section>

<section class="slide">
    <h2>Retornando um <em>status code</em> HTTP</h2>
    {{ highlight_example('ex8') }}
</section>

<section class="slide">
    <h2>Retornando um <em>status code</em> HTTP</h2>
    {{ run_example('ex8') }}
</section>

<section class="slide">
    <h2>Retornando um <em>status code</em> HTTP a partir de exceções</h2>
    {{ highlight_example('ex9') }}
</section>

<section class="slide">
    <h2>Retornando um <em>status code</em> HTTP a partir de exceções</h2>
    {{ run_example('ex9') }}
</section>

<section class="slide">
    <h2>Exceções HTTP com descrição customizada</h2>
    {{ highlight_example('ex10') }}
</section>

<section class="slide">
    <h2>Exceções HTTP com descrição customizada</h2>
    {{ run_example('ex10') }}
</section>

<section class="slide">
    <h2><em>Error handlers</em> customizados</h2>
    {{ highlight_example('ex11') }}
</section>

<section class="slide">
    <h2><em>Error handlers</em> customizados</h2>
    {{ run_example('ex11') }}
</section>

<section class="slide">
    <h2>Exemplos de uso</h2>
    <ul>
        <li>blohg (engine para blogs que usa Mercurial/Git como <em>backend</em>) - <a href="http://blohg.org/">http://blohg.org/</a></li>
        <li>ownpaste (API REST para pastebin privado) - <a href="http://ownpaste.readthedocs.org/">http://ownpaste.readthedocs.org/</a></li>
        <li>
            Esta apresentação :-) -
            <a href="http://hg.rafaelmartins.eng.br/flask-pybr9">http://hg.rafaelmartins.eng.br/flask-pybr9</a> -
            <a href="http://pybr9.rafaelmartins.eng.br/">http://pybr9.rafaelmartins.eng.br/</a>
        </li>
    </ul>
</section>

<section class="slide">
    <h2>Perguntas?</h2>
    <ul>
        <li>Site: <a href="http://rafaelmartins.eng.br/">http://rafaelmartins.eng.br/</a></li>
        <li>
            Email:
            <ul>
                <li>rafael@rafaelmartins.eng.br</li>
                <li>rafael.martins@titansgroup.com.br</li>
            </ul>
        </li>
        <li>
            IRC: rafaelmartins@chat.freenode.net
            <ul>
                <li>#pocoo</li>
                <li>#python-br</li>
                <li>#gentoo-br</li>
            </ul>
        </li>
    </ul>
</section>

<section class="slide">
    <a href="http://titansgroup.com.br/pt/carreira" target="_blank">
        <img src="{{ url_for('static', filename='images/titans-recruitment.png') }}">
    </a>
</section>

{%- endblock slides %}
